@media screen and (min-width: 64rem) {
    .gridLayout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 90rem) {
    .gridLayout {
        grid-template-rows: auto auto 29rem;
    }
}