.gridLayout {
    display: grid;
    grid-template-columns: clamp(240px, 16.66vw, 300px) 1fr;
    grid-template-rows: 1fr;
}

.gridA {
    grid-column-start: 1;
    grid-column-end: 2;
}

.gridB {
    grid-column-start: 2;
    grid-column-end: 3;
}